.file-button {
    background-color: #ff8c00;
    border: 1px solid #ff4500;
    border-radius: 10px;
    display: inline-block;
    float: left;
    height: 24px;
    margin: 8px;
    position: relative;
    width: 150px;
}
.file-button > p {
    font: 12px/16px arial;
    height: 100%;
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 4px 8px;
    position: absolute;
    text-align: center;
    text-overflow: ellipsis;
    top: 0;
    white-space: nowrap;
    width: 136px;
}
.file-button__input {
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
.select{
	display: inline-block;
  	overflow: hidden;
  	width: 150px;
  	margin: 8px;
  	-moz-user-select: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
  	-khtml-user-select: none;
  	float: left;
}

.select__title {
    background-color: #ff8c00;
    border: 1px solid #FF4500;
    border-radius: 10px;
    cursor: pointer;
    font: 12px/16px arial;
    height: 16px;
    overflow: hidden;
    padding: 4px 8px;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}

.select__ul {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: -moz-use-text-color #d2b0d7 #d2b0d7;
    border-image: none;
    border-radius: 0 0 10px 10px;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    display: none;
    font: 12px/20px Arial;
    list-style-type: none;
    margin: 0 8px;
    padding: 4px 0;
    position: absolute;
    width: 130px;
    z-index: 10;
}

.select__open .select__ul {
    display: block;
}

.select__ul > li {
    cursor: pointer;
    overflow: hidden;
    padding: 0 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 114px;
    background-color: #8AA783;
}

.select__ul > li:hover{
    background-color: #7FA777;
}

.sort-module {
    margin: 0 auto;
    width: 500px;
}

.button {	
  	-moz-user-select: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
  	-khtml-user-select: none;
	background-color: #ff8c00;
    border: 1px solid #FF4500;
    border-radius: 10px;
    display: inline-block;
    font: 12px/16px arial;
    height: 16px;
    margin: 8px;
    padding: 4px 8px;
    position: relative;
    text-align: center;
    width: 100px;
    float: right;
    cursor: pointer;
}
.sort-module__header {
	background-color: #173510;
    border: 1px solid #000;
    border-radius: 10px;
    height: 75px;
    margin: 8px;
}
.sort-module__form {
	background-color: #173510;
    border: 1px solid #000;
    border-radius: 10px;
    height: 84px;
    margin: 8px;
}
.sort-module__content {
    background-color: #173510;
    border: 1px solid #000;
    border-radius: 10px;
    height: auto;
    margin: 8px;
    min-height: 538px;
}
.paginator__content > div {
    background-color: #8aa783;
    font: 14px/20px arial;
    margin: 4px 0;
    padding: 0 8px;
    word-wrap: break-word;
}
.paginator__content {
    margin: 8px;
}
.paginator__bottom{
	margin: 8px;
}
.paginator__bottom > div > div {	
  	-moz-user-select: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
  	-khtml-user-select: none;
    color: #ff8c00;
    cursor: pointer;
    display: inline-block;
    font: 12px/20px arial;
    margin: 2px;
    border-radius: 10px;
}
.paginator__bottom > div {
    text-align: center;
}